* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
}
#bg-img {
  background-image: url("img/mymainbg1.jpg") !important;
}

#bg-Game {
  background-image: url("img/gameBG.jpg") !important;
}
#bg-Weather {
  background-image: url("img/weatherBG.jpg") !important;
}
#bg-Pass {
  background-image: url("img/passBG.jpg") !important;
}

/* .overlayAL {
    background: url("/img/bg1.jpg")!important;
    position: absolute;
    height: 100% ;
    width: 100%;
    opacity: 1 ;
    z-index: 0;
    margin: 0;
  } */

html {
  width: 100vw;
  height: 100%;
}

.dropList {
  padding-left: 5px !important;
  padding-right: 20px !important;
}
.dropList:hover {
  background-color: lightblue !important;
}

#amberAA {
  font-family: "Homemade Apple", cursive;
  font-size: 2.25rem;
  padding-top: 20px;
  padding-left: 20px;
}

#navAL {
  background-color: lightgray;
  background-image: url("img/nvbg.jpg");
}

#nav-containerAL {
  background-image: url("img/nvbg.jpg") !important;
}

main {
  width: auto;
  height: auto;
}

#myMain {
  background-color: #42d0d59f;
  margin-top: 75px;
  width: 90vw;
  height: 80vh;
}

#gameflix{
    color: #991CD3;
}
.img-fluid{
    height: 350px;
    width: 350px;
} 
#myGame{
    color: white;
}
#myPass {
  background-color: #1aa11a9f;
  margin-top: 75px;
  width: 90vw;
  height: 80vh;
}
#myWeather {
  background-color: #2468e79f;
  margin-top: 75px;
  width: 90vw;
  height: 80vh;
}

/* font-family: 'Caveat', cursive; */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Great Vibes', cursive; */
/* font-family: 'Homemade Apple', cursive; */
/* font-family: 'Kaushan Script', cursive; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Sacramento', cursive; */
